body {
    margin-top: 0px;
    margin-left: 0px;
}

.comodato #page_1 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
}
.comodato #page_1 #id1_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}

.comodato #page_1 #id1_1 #id1_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_1 #id1_1 #id1_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_1 #id1_2 {
    border: none;
    margin: 38px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_1 #p1dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    height: 99px;
}
.comodato #page_1 #p1dimg1 #p1img1 {
    width: 653px;
    height: 99px;
}

.comodato #page_2 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
}

.comodato #page_2 #id2_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}

.comodato #page_2 #id2_1 #id2_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_2 #id2_1 #id2_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_2 #id2_2 {
    border: none;
    margin: 38px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_2 #p2dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    height: 99px;
}

.comodato #page_2 #p2dimg1 #p2img1 {
    width: 653px;
    height: 99px;
}

.comodato #page_3 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
}

.comodato #page_3 #id3_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}

.comodato #page_3 #id3_1 #id3_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}

.comodato #page_3 #id3_1 #id3_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}

.comodato #page_3 #id3_2 {
    border: none;
    margin: 39px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_3 #p3dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    height: 99px;
}

.comodato #page_3 #p3dimg1 #p3img1 {
    width: 653px;
    height: 99px;
}

.comodato #page_4 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    z-index: 1;
}

.comodato #page_4 #id4_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}

.comodato #page_4 #id4_1 #id4_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}

.comodato #page_4 #id4_1 #id4_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_4 #id4_2 {
    border: none;
    margin: 38px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_4 #p4dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    /* height: 185px; */
}
.comodato #page_4 #p4dimg1 #p4img1 {
    width: 653px;
    /* height: 185px; */
}

.comodato #page_5 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
}
.comodato #page_5 #id5_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_5 #id5_1 #id5_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_5 #id5_1 #id5_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_5 #id5_2 {
    border: none;
    margin: 55px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_5 #p5dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    height: 99px;
}
.comodato #page_5 #p5dimg1 #p5img1 {
    width: 653px;
    height: 99px;
}

.comodato #page_6 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
}
.comodato #page_6 #id6_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_6 #id6_1 #id6_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_6 #id6_1 #id6_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_6 #id6_2 {
    border: none;
    margin: 39px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_6 #p6dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    height: 99px;
}
.comodato #page_6 #p6dimg1 #p6img1 {
    width: 653px;
    height: 99px;
}

.comodato #page_7 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 94px;
    padding: 0px;
    border: none;
    width: 722px;
}
.comodato #page_7 #id7_1 {
    border: none;
    margin: 23px 0px 0px 23px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_7 #id7_1 #id7_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_7 #id7_1 #id7_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_7 #id7_2 {
    border: none;
    margin: 39px 0px 0px 1px;
    padding: 0px;
    border: none;
    width: 721px;
    overflow: hidden;
}

.comodato #page_7 #p7dimg1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 653px;
    height: 99px;
}
.comodato #page_7 #p7dimg1 #p7img1 {
    width: 653px;
    height: 99px;
}

.comodato #page_8 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    z-index: 1;
}
.comodato #page_8 #id8_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_8 #id8_1 #id8_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_8 #id8_1 #id8_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_8 #id8_2 {
    border: none;
    margin: 39px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_8 #p8dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    /* height: 253px; */
}
.comodato #page_8 #p8dimg1 #p8img1 {
    width: 653px;
    /* height: 253px; */
}

.comodato #page_9 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    z-index: 1;
}
.comodato #page_9 #id9_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_9 #id9_1 #id9_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_9 #id9_1 #id9_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_9 #id9_2 {
    border: none;
    margin: 39px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_9 #p9dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    /* height: 356px; */
}
.comodato #page_9 #p9dimg1 #p9img1 {
    width: 653px;
    /* height: 356px; */
}

.comodato #page_10 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    z-index: 1;
}
.comodato #page_10 #id10_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_10 #id10_1 #id10_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_10 #id10_1 #id10_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_10 #id10_2 {
    border: none;
    margin: 38px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_10 #p10dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    /* height: 354px; */
}
.comodato #page_10 #p10dimg1 #p10img1 {
    width: 653px;
    /* height: 354px; */
}

.comodato #page_11 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    z-index: 1;
}
.comodato #page_11 #id11_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_11 #id11_1 #id11_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_11 #id11_1 #id11_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_11 #id11_2 {
    border: none;
    margin: 39px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_11 #p11dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    /* height: 99px; */
}
.comodato #page_11 #p11dimg1 #p11img1 {
    width: 653px;
    /* height: 99px; */
}

.comodato #page_12 {
    position: relative;
    overflow: hidden;
    margin: 47px 0px 40px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    z-index: 1;
}
.comodato #page_12 #id12_1 {
    border: none;
    margin: 23px 0px 0px 117px;
    padding: 0px;
    border: none;
    width: 699px;
    overflow: hidden;
}
.comodato #page_12 #id12_1 #id12_1_1 {
    float: left;
    border: none;
    margin: 1px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 169px;
    overflow: hidden;
}
.comodato #page_12 #id12_1 #id12_1_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 530px;
    overflow: hidden;
}
.comodato #page_12 #id12_2 {
    border: none;
    margin: 39px 0px 0px 95px;
    padding: 0px;
    border: none;
    width: 721px;
    overflow: hidden;
}
.comodato #page_12 #id12_3 {
    border: none;
    margin: 16px 0px 0px 103px;
    padding: 0px;
    border: none;
    width: 713px;
    overflow: hidden;
}
.comodato #page_12 #id12_3 #id12_3_1 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 216px;
    overflow: hidden;
}
.comodato #page_12 #id12_3 #id12_3_2 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 216px;
    overflow: hidden;
}
.comodato #page_12 #id12_3 #id12_3_3 {
    float: left;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 281px;
    overflow: hidden;
}
.comodato #page_12 #id12_4 {
    border: none;
    margin: 145px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
}

.comodato #page_12 #p12dimg1 {
    position: absolute;
    top: 0px;
    left: 94px;
    z-index: -1;
    width: 653px;
    /* height: 768px; */
}
.comodato #page_12 #p12dimg1 #p12img1 {
    width: 653px;
    /* height: 768px; */
}

.dclr_comodato {
    clear: both;
    float: none;
    height: 1px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.ft0_comodato {
    font: 15px 'Arial';
    line-height: 17px;
}
.ft1_comodato {
    font: 15px 'Arial';
    color: #009999;
    line-height: 17px;
}
.ft2_comodato {
    font: bold 15px 'Arial';
    color: #009999;
    line-height: 18px;
}
.ft3_comodato {
    font: bold 15px 'Arial';
    line-height: 18px;
}
.ft4_comodato {
    font: bold 15px 'Arial';
    margin-left: 4px;
    line-height: 18px;
}
.ft5_comodato {
    font: 16px 'Arial';
    line-height: 20px;
}
.ft6_comodato {
    font: 16px 'Arial';
    line-height: 18px;
}
.ft7_comodato {
    font: bold 15px 'Arial';
    line-height: 19px;
}
.ft8_comodato {
    font: bold 15px 'Arial';
    line-height: 21px;
}
.ft19_comodato {
    font: bold 16px 'Arial';
    line-height: 20px;
}
.ft10_comodato {
    font: 16px 'Arial';
    line-height: 19px;
}
.ft11_comodato {
    font: bold 15px 'Arial';
    margin-left: 5px;
    line-height: 18px;
}
.ft12_comodato {
    font: bold 15px 'Arial';
    line-height: 17px;
}
.ft13_comodato {
    font: 15px 'Arial';
    line-height: 17px;
}
.ft14_comodato {
    font: 15px 'Arial';
    text-decoration: underline;
    line-height: 17px;
}
.ft15_comodato {
    font: bold 15px 'Arial';
    text-decoration: underline;
    line-height: 17px;
}
.ft16_comodato {
    font: bold 15px 'Arial';
    text-decoration: underline;
    line-height: 16px;
}
.ft17_comodato {
    font: 15px 'Arial';
    text-decoration: underline;
    line-height: 16px;
}
.ft18_comodato {
    font: 15px 'Arial';
    line-height: 16px;
}
.ft19_comodato {
    font: bold 15px 'Arial';
    line-height: 16px;
}
.ft20_comodato {
    font: 15px 'Arial';
    text-decoration: underline;
    line-height: 18px;
}
.ft21_comodato {
    font: bold 15px 'Arial';
    line-height: 19px;
}
.ft22_comodato {
    font: 15px 'Arial';
    line-height: 18px;
}
.ft23_comodato {
    font: 11px 'Arial';
    line-height: 14px;
}
.ft24_comodato {
    font: 12px 'Arial';
    line-height: 15px;
}
.ft25_comodato {
    font: 9px 'Arial';
    line-height: 12px;
}
.ft26_comodato {
    font: 14px 'Arial';
    line-height: 18px;
}
.ft27_comodato {
    font: 15px 'Arial';
    margin-left: 7px;
    line-height: 18px;
}
.ft28_comodato {
    font: 10px 'Arial';
    line-height: 13px;
    position: relative;
    bottom: 5px;
}
.ft29_comodato {
    font: bold 15px 'Arial';
    line-height: 16px;
}
.ft30_comodato {
    font: 15px 'Arial';
    line-height: 16px;
}
.ft31_comodato {
    font: 15px 'Arial';
    margin-left: 4px;
    line-height: 17px;
}
.ft32_comodato {
    font: 16px 'Arial';
    margin-left: 4px;
    line-height: 18px;
}
.ft33_comodato {
    font: 16px 'Arial';
    margin-left: 4px;
    line-height: 19px;
}
.ft34_comodato {
    font: bold 15px 'Arial';
    margin-left: 6px;
    line-height: 18px;
}
.ft35_comodato {
    font: bold 15px 'Arial';
    line-height: 17px;
}
.ft36_comodato {
    font: bold 15px 'Arial';
    margin-left: 4px;
    line-height: 17px;
}
.ft37_comodato {
    font: 15px 'Arial';
    line-height: 19px;
}
.ft38_comodato {
    font: bold 14px 'Arial';
    line-height: 18px;
}
.ft39_comodato {
    font: bold 15px 'Arial';
    margin-left: 5px;
    line-height: 19px;
}
.ft40_comodato {
    font: 15px 'Arial';
    color: #ff0000;
    line-height: 17px;
}
.ft41_comodato {
    font: 1px 'Arial';
    line-height: 13px;
}
.ft42_comodato {
    font: 15px 'Arial';
    line-height: 13px;
}
.ft43_comodato {
    font: 1px 'Arial';
    line-height: 1px;
}
.ft44_comodato {
    font: 1px 'Arial';
    line-height: 9px;
}
.ft45_comodato {
    font: 1px 'Arial';
    line-height: 7px;
}
.ft46_comodato {
    font: 1px 'Arial';
    line-height: 16px;
}
.ft47_comodato {
    font: 1px 'Arial';
    line-height: 15px;
}
.ft48_comodato {
    font: 1px 'Arial';
    line-height: 11px;
}
.ft49_comodato {
    font: 1px 'Arial';
    line-height: 3px;
}
.ft50_comodato {
    font: 13px 'Arial';
    line-height: 17px;
}
.ft51_comodato {
    font: italic bold 13px 'Arial';
    line-height: 17px;
}
.ft52_comodato {
    font: italic bold 15px 'Arial';
    line-height: 17px;
}

.p0_comodato {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p1_comodato {
    text-align: left;
    padding-left: 30px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.p2_comodato {
    text-align: left;
    padding-left: 141px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p3_comodato {
    text-align: left;
    padding-left: 136px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p4_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p5_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 17px;
    margin-bottom: 0px;
}
.p6_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 18px;
    margin-bottom: 0px;
}
.p7_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.p8_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p9_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.p10_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 13px;
    margin-bottom: 0px;
}
.p11_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.p12_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 67px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.p13_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.p14_comodato {
    text-align: left;
    padding-left: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p15_comodato {
    text-align: left;
    padding-left: 498px;
    margin-top: 1px;
    margin-bottom: 0px;
}
.p16_comodato {
    text-align: left;
    padding-left: 544px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p17_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p18_comodato {
    text-align: left;
    padding-left: 666px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p19_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.p20_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.p21_comodato {
    text-align: left;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 13px;
    margin-bottom: 0px;
}
.p22_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.p23_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 19px;
    margin-bottom: 0px;
}
.p24_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 7px;
    margin-bottom: 0px;
}
.p25_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 67px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.p26_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 13px;
    margin-bottom: 0px;
}
.p27_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 1px;
    margin-bottom: 0px;
}
.p28_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 11px;
    margin-bottom: 0px;
}
.p29_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 6px;
    margin-bottom: 0px;
}
.p30_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 21px;
    margin-bottom: 0px;
}
.p31_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.p32_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.p33_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 13px;
    margin-bottom: 0px;
}
.p34_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 67px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p35_comodato {
    text-align: left;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.p36_comodato {
    text-align: left;
    padding-left: 95px;
    padding-right: 67px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.p37_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 14px;
    margin-bottom: 0px;
}
.p38_comodato {
    text-align: justify;
    padding-right: 72px;
    margin-top: 17px;
    margin-bottom: 0px;
}
.p39_comodato {
    text-align: left;
    margin-top: 13px;
    margin-bottom: 0px;
}
.p40_comodato {
    text-align: justify;
    padding-right: 72px;
    margin-top: 1px;
    margin-bottom: 0px;
}
.p41_comodato {
    text-align: left;
    padding-right: 458px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p42_comodato {
    text-align: justify;
    padding-right: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p43_comodato {
    text-align: left;
    padding-right: 329px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p44_comodato {
    text-align: justify;
    padding-right: 72px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.p45_comodato {
    text-align: left;
    padding-left: 7px;
    /* margin-top: 0px;
margin-bottom: 0px; */
    /* white-space: nowrap; */
}
.p46_comodato {
    text-align: justify;
    padding-left: 7px;
    padding-right: 7px;
    /* margin-top: 0px;
    margin-bottom: 0px; */
}
.p47_comodato {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p48_comodato {
    text-align: left;
    padding-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p49_comodato {
    text-align: left;
    padding-left: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p50_comodato {
    text-align: right;
    padding-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p51_comodato {
    text-align: center;
    padding-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p52_comodato {
    text-align: left;
    padding-left: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p53_comodato {
    text-align: left;
    padding-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p54_comodato {
    text-align: left;
    padding-left: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p55_comodato {
    text-align: left;
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* white-space: nowrap; */
}
.p56_comodato {
    text-align: left;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p57_comodato {
    text-align: left;
    padding-left: 577px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.p58_comodato {
    text-align: left;
    padding-left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p59_comodato {
    text-align: left;
    padding-left: 403px;
    margin-top: 1px;
    margin-bottom: 0px;
}
.p60_comodato {
    text-align: left;
    padding-left: 449px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p61_comodato {
    text-align: left;
    padding-left: 567px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p62_comodato {
    text-align: left;
    padding-left: 571px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p63_comodato {
    text-align: left;
    padding-left: 566px;
    padding-right: 79px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p64_comodato {
    text-align: left;
    padding-left: 98px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p65_comodato {
    text-align: left;
    padding-left: 116px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p66_comodato {
    text-align: left;
    padding-left: 102px;
    padding-right: 501px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p67_comodato {
    text-align: left;
    padding-left: 102px;
    padding-right: 465px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p68_comodato {
    text-align: left;
    padding-left: 102px;
    padding-right: 443px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p69_comodato {
    text-align: left;
    padding-left: 390px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p70_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.p71_comodato {
    text-align: right;
    padding-right: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.p72_comodato {
    text-align: justify;
    padding-left: 251px;
    padding-right: 437px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p73_comodato {
    text-align: left;
    padding-left: 251px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p74_comodato {
    text-align: left;
    padding-left: 95px;
    margin-top: 48px;
    margin-bottom: 0px;
}
.p75_comodato {
    text-align: justify;
    padding-left: 95px;
    padding-right: 72px;
    margin-top: 17px;
    margin-bottom: 0px;
}
.p76_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.p77_comodato {
    text-align: left;
    padding-left: 99px;
    margin-top: 16px;
    margin-bottom: 0px;
}
.p78_comodato {
    text-align: right;
    padding-right: 72px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.p79_comodato {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0px;
}
.p80_comodato {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
}
.p81_comodato {
    text-align: left;
    /* padding-right: 537px; */
    /* margin-top: 49px; */
    margin-bottom: 0px;
}
.p82_comodato {
    text-align: left;
    padding-right: 586px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p83_comodato {
    text-align: right;
    padding-right: 78px;
    margin-top: 1px;
    margin-bottom: 0px;
}
.p84_comodato {
    text-align: right;
    padding-right: 77px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p85_comodato {
    text-align: right;
    padding-right: 73px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.td0_comodato {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 133px;
    vertical-align: bottom;
}
.td1_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 85px;
    vertical-align: baseline;
}
.td2_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 81px;
    vertical-align: bottom;
}
.td3_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 75px;
    vertical-align: bottom;
}
.td4_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 185px;
    vertical-align: bottom;
}
.td5_comodato {
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 106px;
    vertical-align: bottom;
}
.td6_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 27px;
    vertical-align: bottom;
}
.td7_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 85px;
    vertical-align: bottom;
}
.td8_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 81px;
    vertical-align: bottom;
}
.td9_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 75px;
    vertical-align: bottom;
}
.td10_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 53px;
    vertical-align: bottom;
}
.td11_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 15px;
    vertical-align: bottom;
}
.td12_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 30px;
    vertical-align: bottom;
}
.td13_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 50px;
    vertical-align: bottom;
}
.td14_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 10px;
    vertical-align: bottom;
}
.td15_comodato {
    border-left: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 106px;
    vertical-align: bottom;
}
.td16_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 27px;
    vertical-align: bottom;
}
.td17_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 85px;
    vertical-align: bottom;
}
.td18_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 81px;
    vertical-align: bottom;
}
.td19_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 75px;
    vertical-align: bottom;
}
.td20_comodato {
    padding: 0px;
    margin: 0px;
    width: 53px;
    vertical-align: bottom;
}
.td21_comodato {
    padding: 0px;
    margin: 0px;
    width: 15px;
    vertical-align: bottom;
}
.td22_comodato {
    padding: 0px;
    margin: 0px;
    width: 30px;
    vertical-align: bottom;
}
.td23_comodato {
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}
.td24_comodato {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 133px;
    vertical-align: bottom;
}
.td25_comodato {
    padding: 0px;
    margin: 0px;
    width: 68px;
    vertical-align: bottom;
}
.td26_comodato {
    padding: 0px;
    margin: 0px;
    width: 80px;
    vertical-align: bottom;
}
.td27_comodato {
    padding: 0px;
    margin: 0px;
    width: 10px;
    vertical-align: bottom;
}
.td28_comodato {
    padding: 0px;
    margin: 0px;
    width: 50px;
    vertical-align: bottom;
}
.td29_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 98px;
    vertical-align: bottom;
}
.td30_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 87px;
    vertical-align: bottom;
}
.td31_comodato {
    padding: 0px;
    margin: 0px;
    width: 98px;
    vertical-align: bottom;
}
.td32_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 37px;
    vertical-align: bottom;
}
.td33_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 185px;
    vertical-align: bottom;
}
.td34_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 117px;
    vertical-align: bottom;
}
.td35_comodato {
    padding: 0px;
    margin: 0px;
    width: 95px;
    vertical-align: bottom;
}
.td36_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 68px;
    vertical-align: bottom;
}
.td37_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 90px;
    vertical-align: bottom;
}
.td38_comodato {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
}
.td39_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
}
.td40_comodato {
    padding: 0px;
    margin: 0px;
    width: 72px;
    vertical-align: bottom;
}
.td41_comodato {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
}
.td42_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
}
.td43_comodato {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
}
.td44_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
}
.td45_comodato {
    padding: 0px;
    margin: 0px;
    width: 289px;
    vertical-align: bottom;
}
.td46_comodato {
    padding: 0px;
    margin: 0px;
    width: 288px;
    vertical-align: bottom;
}
.td47_comodato {
    padding: 0px;
    margin: 0px;
    width: 0px;
    vertical-align: bottom;
}
.td48_comodato {
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 113px;
    vertical-align: bottom;
}
.td49_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 27px;
    vertical-align: bottom;
}
.td50_comodato {
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 98px;
    vertical-align: bottom;
}
.td51_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 44px;
    vertical-align: bottom;
}
.td52_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 110px;
    vertical-align: bottom;
}
.td53_comodato {
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 68px;
    vertical-align: bottom;
}
.td54_comodato {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 56px;
    vertical-align: bottom;
}
.td55_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 44px;
    vertical-align: bottom;
}
.td56_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 87px;
    vertical-align: bottom;
}
.td57_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 23px;
    vertical-align: bottom;
}
.td58_comodato {
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 113px;
    vertical-align: bottom;
}
.td59_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 51px;
    vertical-align: bottom;
}
.td60_comodato {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 47px;
    vertical-align: bottom;
}
.td61_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 44px;
    vertical-align: bottom;
}
.td62_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 23px;
    vertical-align: bottom;
}
.td63_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 56px;
    vertical-align: bottom;
}
.td64_comodato {
    border-left: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 113px;
    vertical-align: bottom;
}
.td65_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 142px;
    vertical-align: bottom;
}
.td66_comodato {
    padding: 0px;
    margin: 0px;
    width: 87px;
    vertical-align: bottom;
}
.td67_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 56px;
    vertical-align: bottom;
}
.td68_comodato {
    padding: 0px;
    margin: 0px;
    width: 51px;
    vertical-align: bottom;
}
.td69_comodato {
    padding: 0px;
    margin: 0px;
    width: 47px;
    vertical-align: bottom;
}
.td70_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 110px;
    vertical-align: bottom;
}
.td71_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}
.td72_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 95px;
    vertical-align: bottom;
}
.td73_comodato {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 140px;
    vertical-align: bottom;
}
.td74_comodato {
    border-right: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 91px;
    vertical-align: bottom;
}
.td75_comodato {
    padding: 0px;
    margin: 0px;
    width: 37px;
    vertical-align: bottom;
}
.td76_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 91px;
    vertical-align: bottom;
}
.td77_comodato {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 110px;
    vertical-align: bottom;
}

.tr0_comodato {
    height: 24px;
}
.tr1_comodato {
    height: 13px;
}
.tr2_comodato {
    height: 17px;
}
.tr3_comodato {
    height: 26px;
}
.tr4_comodato {
    height: 9px;
}
.tr5_comodato {
    height: 16px;
}
.tr6_comodato {
    height: 7px;
}
.tr7_comodato {
    height: 34px;
}
.tr8_comodato {
    height: 22px;
}
.tr9_comodato {
    height: 18px;
}
.tr10_comodato {
    height: 19px;
}
.tr11_comodato {
    height: 20px;
}
.tr12_comodato {
    height: 15px;
}
.tr13_comodato {
    height: 31px;
}
.tr14_comodato {
    height: 10px;
}
.tr15_comodato {
    height: 11px;
}
.tr16_comodato {
    height: 21px;
}
.tr17_comodato {
    height: 3px;
}

.t0_comodato {
    width: 650px;
    margin-top: 15px;
    font: 15px 'Arial';
}
.t1_comodato {
    width: 649px;
    margin-left: 95px;
    margin-top: 12px;
    font: 15px 'Arial';
}
.t2_comodato {
    width: 634px;
    margin-left: 103px;
    margin-top: 10px;
    font: 15px 'Arial';
}
.t3_comodato {
    width: 650px;
    /* margin-left: 0px; */
    margin-top: 11px;
    font: 15px 'Arial';
}
