body {
margin-top: 0px;
margin-left: 0px;
}

#page_1_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 57px 121px;
padding: 0px;
border: none;
width: 695px;
z-index: 1;
}
#page_1_contractLease #id1_1 {
border: none;
margin: 23px 0px 0px 10px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_1_contractLease #id1_1 #id1_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_1_contractLease #id1_1 #id1_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_1_contractLease #id1_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 695px;
overflow: hidden;
}

#page_1_contractLease #p1dimg1 {
position: absolute;
top: 0px;
left: 2px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_1_contractLease #p1dimg1 #p1img1 {
width: 600px;
/* height: 97px; */
}

#page_2_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_2_contractLease #id2_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_2_contractLease #id2_1 #id2_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_2_contractLease #id2_1 #id2_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_2_contractLease #id2_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_2_contractLease #p2dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_2_contractLease #p2dimg1 #p2img1 {
width: 600px;
/* height: 97px; */
}

#page_3_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_3_contractLease #id3_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_3_contractLease #id3_1 #id3_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_3_contractLease #id3_1 #id3_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_3_contractLease #id3_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_3_contractLease #p3dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_3_contractLease #p3dimg1 #p3img1 {
width: 572px;
/* height: 97px; */
}

#page_4_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_4_contractLease #id4_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_4_contractLease #id4_1 #id4_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_4_contractLease #id4_1 #id4_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_4_contractLease #id4_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_4_contractLease #p4dimg1 {
position: absolute;
top: 0px;
left: 0px;
z-index: -1;
width: 575px;
/* height: 861px; */
}
#page_4_contractLease #p4dimg1 #p4img1 {
width: 575px;
/* height: 861px; */
}

#page_5_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_5_contractLease #id5_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_5_contractLease #id5_1 #id5_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_5_contractLease #id5_1 #id5_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_5_contractLease #id5_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_5_contractLease #p5dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_5_contractLease #p5dimg1 #p5img1 {
width: 572px;
/* height: 97px; */
}

#page_6_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_6_contractLease #id6_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_6_contractLease #id6_1 #id6_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_6_contractLease #id6_1 #id6_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_6_contractLease #id6_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_6_contractLease #p6dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_6_contractLease #p6dimg1 #p6img1 {
width: 572px;
/* height: 97px; */
}

#page_7_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_7_contractLease #id7_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_7_contractLease #id7_1 #id7_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_7_contractLease #id7_1 #id7_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_7_contractLease #id7_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_7_contractLease #p7dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_7_contractLease #p7dimg1 #p7img1 {
width: 572px;
/* height: 97px; */
}

#page_8_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_8_contractLease #id8_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_8_contractLease #id8_1 #id8_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_8_contractLease #id8_1 #id8_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_8_contractLease #id8_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_8_contractLease #p8dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_8_contractLease #p8dimg1 #p8img1 {
width: 572px;
/* height: 97px; */
}

#page_9_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_9_contractLease #id9_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_9_contractLease #id9_1 #id9_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_9_contractLease #id9_1 #id9_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_9_contractLease #id9_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_9_contractLease #p9dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_9_contractLease #p9dimg1 #p9img1 {
width: 572px;
/* height: 97px; */
}

#page_10_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_10_contractLease #id10_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_10_contractLease #id10_1 #id10_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_10_contractLease #id10_1 #id10_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_10_contractLease #id10_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_10_contractLease #p10dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_10_contractLease #p10dimg1 #p10img1 {
width: 572px;
/* height: 97px; */
}

#page_11_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_11_contractLease #id11_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_11_contractLease #id11_1 #id11_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_11_contractLease #id11_1 #id11_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_11_contractLease #id11_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_11_contractLease #p11dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_11_contractLease #p11dimg1 #p11img1 {
width: 572px;
/* height: 97px; */
}

#page_12_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_12_contractLease #id12_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_12_contractLease #id12_1 #id12_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_12_contractLease #id12_1 #id12_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_12_contractLease #id12_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_12_contractLease #p12dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_12_contractLease #p12dimg1 #p12img1 {
width: 572px;
/* height: 97px; */
}

#page_13_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_13_contractLease #id13_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_13_contractLease #id13_1 #id13_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_13_contractLease #id13_1 #id13_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_13_contractLease #id13_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_13_contractLease #p13dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_13_contractLease #p13dimg1 #p13img1 {
width: 572px;
/* height: 97px; */
}

#page_14_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_14_contractLease #id14_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_14_contractLease #id14_1 #id14_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_14_contractLease #id14_1 #id14_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_14_contractLease #id14_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_14_contractLease #p14dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_14_contractLease #p14dimg1 #p14img1 {
width: 572px;
/* height: 97px; */
}

#page_15_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_15_contractLease #id15_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_15_contractLease #id15_1 #id15_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_15_contractLease #id15_1 #id15_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_15_contractLease #id15_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_15_contractLease #p15dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_15_contractLease #p15dimg1 #p15img1 {
width: 572px;
/* height: 97px; */
}

#page_16_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_16_contractLease #id16_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_16_contractLease #id16_1 #id16_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_16_contractLease #id16_1 #id16_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_16_contractLease #id16_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_16_contractLease #p16dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_16_contractLease #p16dimg1 #p16img1 {
width: 572px;
/* height: 97px; */
}

#page_17_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_17_contractLease #id17_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_17_contractLease #id17_1 #id17_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_17_contractLease #id17_1 #id17_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_17_contractLease #id17_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_17_contractLease #p17dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_17_contractLease #p17dimg1 #p17img1 {
width: 572px;
/* height: 97px; */
}

#page_18_contractLease {
position: relative;
overflow: hidden;
margin: 49px 0px 48px 120px;
padding: 0px;
border: none;
width: 696px;
z-index: 1;
}
#page_18_contractLease #id18_1 {
border: none;
margin: 23px 0px 0px 11px;
padding: 0px;
border: none;
width: 685px;
overflow: hidden;
}
#page_18_contractLease #id18_1 #id18_1_1 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 152px;
overflow: hidden;
}
#page_18_contractLease #id18_1 #id18_1_2 {
float: left;
border: none;
margin: 0px 0px 0px 0px;
padding: 0px;
border: none;
width: 533px;
overflow: hidden;
}
#page_18_contractLease #id18_2 {
border: none;
margin: 41px 0px 0px 0px;
padding: 0px;
border: none;
width: 696px;
overflow: hidden;
}

#page_18_contractLease #p18dimg1 {
position: absolute;
top: 0px;
left: 3px;
z-index: -1;
width: 572px;
/* height: 97px; */
}
#page_18_contractLease #p18dimg1 #p18img1 {
width: 572px;
/* height: 97px; */
}

.dclr_contractLease {
clear: both;
float: none;
height: 1px;
margin: 0px;
padding: 0px;
overflow: hidden;
}

.ft0_contractLease {
font: 13px "Arial";
line-height: 16px;
}
.ft1_contractLease {
font: 13px "Arial";
text-decoration: underline;
color: #ff0000;
line-height: 16px;
}
.ft2_contractLease {
font: 13px "Arial";
text-decoration: line-through;
color: #ff0000;
line-height: 16px;
}
.ft3_contractLease {
font: 13px "Arial";
color: #009999;
line-height: 16px;
}
.ft4_contractLease {
font: bold 13px "Arial";
color: #009999;
line-height: 16px;
}
.ft5_contractLease {
font: bold 11px "Arial";
line-height: 14px;
}
.ft6_contractLease {
font: 11px "Arial";
line-height: 14px;
}
.ft7_contractLease {
font: bold 15px "Arial";
line-height: 18px;
}
.ft8_contractLease {
font: 1px "Arial";
line-height: 1px;
}
.ft9_contractLease {
font: 15px "Arial";
line-height: 17px;
}
.ft10_contractLease {
font: 14px "Arial";
line-height: 16px;
}
.ft11_contractLease {
font: 10px "Arial";
line-height: 13px;
position: relative;
bottom: 5px;
}
.ft12_contractLease {
font: 11px "Arial";
line-height: 12px;
}
.ft13_contractLease {
font: 11px "Arial";
text-decoration: underline;
color: #0000ff;
line-height: 14px;
}
.ft14_contractLease {
font: bold 15px "Arial";
line-height: 23px;
}
.ft15_contractLease {
font: 15px "Arial";
line-height: 23px;
}
.ft16_contractLease {
font: 11px "Arial";
text-decoration: underline;
color: #0000ff;
line-height: 13px;
}
.ft17_contractLease {
font: 10px "Arial";
line-height: 21px;
position: relative;
bottom: 5px;
}
.ft18_contractLease {
font: bold 15px "Arial";
text-decoration: underline;
color: #ff0000;
line-height: 23px;
}
.ft19_contractLease {
font: 15px "Arial";
text-decoration: underline;
color: #ff0000;
line-height: 23px;
}
.ft20_contractLease {
font: bold 15px "Arial";
text-decoration: line-through;
color: #ff0000;
line-height: 18px;
}
.ft21_contractLease {
font: 15px "Arial";
color: #ff0000;
line-height: 17px;
}
.ft22_contractLease {
font: bold 14px "Arial";
text-decoration: line-through;
color: #ff0000;
line-height: 23px;
}
.ft23_contractLease {
font: 14px "Arial";
text-decoration: line-through;
color: #ff0000;
line-height: 23px;
}
.ft24_contractLease {
font: bold 15px "Arial";
text-decoration: line-through;
color: #ff0000;
line-height: 23px;
}
.ft25_contractLease {
font: 15px "Arial";
color: #ff0000;
line-height: 23px;
}
.ft26_contractLease {
font: 15px "Arial";
text-decoration: line-through;
color: #ff0000;
line-height: 23px;
}
.ft27_contractLease {
font: bold 14px "Arial";
line-height: 23px;
}
.ft28_contractLease {
font: italic bold 14px "Arial";
line-height: 23px;
}
.ft29_contractLease {
font: 14px "Arial";
line-height: 23px;
}
.ft30_contractLease {
font: italic bold 15px "Arial";
line-height: 17px;
}
.ft31_contractLease {
font: 16px "Arial";
line-height: 25px;
}
.ft32_contractLease {
font: 15px "Arial";
margin-left: 5px;
line-height: 23px;
}
.ft33_contractLease {
font: 14px "Arial";
margin-left: 5px;
line-height: 23px;
}
.ft34_contractLease {
font: 13px "Arial";
line-height: 23px;
}
.ft35_contractLease {
font: bold 14px "Arial";
line-height: 24px;
}
.ft36_contractLease {
font: 14px "Arial";
line-height: 24px;
}
.ft37_contractLease {
font: 15px "Arial";
margin-left: 4px;
line-height: 23px;
}
.ft38_contractLease {
font: 14px "Arial";
margin-left: 8px;
line-height: 23px;
}
.ft39_contractLease {
font: italic bold 15px "Arial";
line-height: 23px;
}
.ft40_contractLease {
font: 13px "Arial";
line-height: 24px;
}
.ft41_contractLease {
font: italic bold 13px "Arial";
line-height: 24px;
}
.ft42_contractLease {
font: bold 15px "Arial";
line-height: 24px;
}
.ft43_contractLease {
font: 8px "Arial";
line-height: 10px;
}
.ft44_contractLease {
font: 1px "Arial";
line-height: 5px;
}

.p0_contractLease {
text-align: justify;
padding-left: 20px;
margin-top: 0px;
margin-bottom: 0px;
}
.p1_contractLease {
text-align: left;
padding-left: 26px;
margin-top: 15px;
margin-bottom: 0px;
}
.p2_contractLease {
text-align: left;
padding-left: 135px;
margin-top: 0px;
margin-bottom: 0px;
}
.p3_contractLease {
text-align: left;
padding-left: 114px;
margin-top: 0px;
margin-bottom: 0px;
}
.p4_contractLease {
text-align: left;
padding-left: 73px;
margin-top: 0px;
margin-bottom: 0px;
}
.p5_contractLease {
text-align: center;
padding-left: 7px;
margin-top: 13px;
margin-bottom: 0px;
width: 580px;
}
.p6_contractLease {
margin-top: 0px;
margin-bottom: 0px;
padding-bottom: 10px;
/* white-space: nowrap; */
}
.p7_contractLease {
text-align: left;
padding-left: 29px;
margin-top: 0px;
margin-bottom: 0px;
white-space: nowrap;
}
.p8_contractLease {
text-align: left;
padding-left: 287px;
margin-top: 0px;
margin-bottom: 0px;
white-space: nowrap;
}
.p9_contractLease {
text-align: right;
padding-left: 275px;
padding-right: 120px;
margin-top: 0px;
margin-bottom: 0px;
}
.p10_contractLease {
text-align: left;
padding-left: 74px;
margin-top: 0px;
margin-bottom: 0px;
}
.p11_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 31px;
margin-bottom: 0px;
}
.p12_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 33px;
margin-bottom: 0px;
}
.p13_contractLease {
text-align: left;
padding-left: 1px;
margin-top: 0px;
margin-bottom: 0px;
}
.p14_contractLease {
text-align: left;
padding-left: 332px;
padding-right: 120px;
margin-top: 0px;
margin-bottom: 0px;
text-indent: -55px;
}
.p15_contractLease {
text-align: left;
padding-left: 476px;
margin-top: 0px;
margin-bottom: 0px;
}
.p16_contractLease {
text-align: left;
padding-left: 481px;
margin-top: 0px;
margin-bottom: 0px;
}
.p17_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 9px;
margin-bottom: 0px;
}
.p18_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 12px;
margin-bottom: 0px;
}
.p19_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 21px;
margin-bottom: 0px;
}
.p20_contractLease {
text-align: left;
margin-top: 13px;
margin-bottom: 0px;
}
.p21_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 1px;
margin-bottom: 0px;
}
.p22_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 7px;
margin-bottom: 0px;
}
.p23_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 7px;
margin-bottom: 0px;
}
.p24_contractLease {
text-align: left;
margin-top: 8px;
margin-bottom: 0px;
}
.p25_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 16px;
margin-bottom: 0px;
}
.p26_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 9px;
margin-bottom: 0px;
}
.p27_contractLease {
text-align: left;
margin-top: 11px;
margin-bottom: 0px;
}
.p28_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 1px;
margin-bottom: 0px;
}
.p29_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 13px;
margin-bottom: 0px;
}
.p30_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 3px;
margin-bottom: 0px;
}
.p31_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 5px;
margin-bottom: 0px;
}
.p32_contractLease {
text-align: left;
margin-top: 15px;
margin-bottom: 0px;
}
.p33_contractLease {
text-align: left;
margin-top: 9px;
margin-bottom: 0px;
}
.p34_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 5px;
margin-bottom: 0px;
}
.p35_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 13px;
margin-bottom: 0px;
}
.p36_contractLease {
text-align: left;
margin-top: 14px;
margin-bottom: 0px;
}
.p37_contractLease {
text-align: left;
margin-top: 7px;
margin-bottom: 0px;
}
.p38_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 32px;
margin-bottom: 0px;
}
.p39_contractLease {
text-align: justify;
padding-right: 116px;
margin-top: 14px;
margin-bottom: 0px;
}
.p40_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 0px;
margin-bottom: 0px;
}
.p41_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 2px;
margin-bottom: 0px;
}
.p42_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 20px;
margin-bottom: 0px;
}
.p43_contractLease {
text-align: left;
margin-top: 18px;
margin-bottom: 0px;
}
.p44_contractLease {
text-align: left;
padding-left: 504px;
margin-top: 19px;
margin-bottom: 0px;
}
.p45_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 8px;
margin-bottom: 0px;
}
.p46_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 34px;
margin-bottom: 0px;
}
.p47_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 26px;
margin-bottom: 0px;
}
.p48_contractLease {
text-align: left;
margin-top: 4px;
margin-bottom: 0px;
}
.p49_contractLease {
text-align: left;
margin-top: 6px;
margin-bottom: 0px;
}
.p50_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 16px;
margin-bottom: 0px;
}
.p51_contractLease {
text-align: left;
margin-top: 10px;
margin-bottom: 0px;
}
.p52_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 4px;
margin-bottom: 0px;
}
.p53_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 23px;
margin-bottom: 0px;
}
.p54_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 14px;
margin-bottom: 0px;
}
.p55_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 28px;
margin-bottom: 0px;
}
.p56_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 8px;
margin-bottom: 0px;
}
.p57_contractLease {
text-align: justify;
padding-right: 115px;
margin-top: 11px;
margin-bottom: 0px;
}
.p58_contractLease {
text-align: justify;
padding-right: 120px;
margin-top: 0px;
margin-bottom: 0px;
}
.p59_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 21px;
margin-bottom: 0px;
}
.p60_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 33px;
margin-bottom: 0px;
}
.p61_contractLease {
text-align: left;
margin-top: 37px;
margin-bottom: 0px;
}
.p62_contractLease {
text-align: left;
padding-right: 206px;
margin-top: 76px;
margin-bottom: 0px;
}
.p63_contractLease {
text-align: left;
padding-right: 266px;
margin-top: 77px;
margin-bottom: 0px;
}
.p64_contractLease {
text-align: left;
padding-right: 120px;
margin-top: 0px;
margin-bottom: 0px;
}
.p65_contractLease {
text-align: left;
padding-right: 219px;
margin-top: 5px;
margin-bottom: 0px;
}
.p66_contractLease {
text-align: left;
padding-left: 8px;
margin-top: 0px;
margin-bottom: 0px;
white-space: nowrap;
}
.p67_contractLease {
text-align: left;
padding-left: 7px;
margin-top: 0px;
margin-bottom: 0px;
white-space: nowrap;
}
.p68_contractLease {
text-align: left;
padding-left: 6px;
margin-top: 0px;
margin-bottom: 0px;
white-space: nowrap;
}
.p69_contractLease {
text-align: left;
padding-left: 499px;
margin-top: 362px;
margin-bottom: 0px;
}

.td0_contractLease {
padding: 0px;
margin: 0px;
width: 203px;
vertical-align: text-top
}
.td1_contractLease {
padding: 0px;
margin: 0px;
width: 359px;
vertical-align: text-top;
}
.td2_contractLease {
padding: 0px;
margin: 0px;
width: 0px;
vertical-align: bottom;
}
.td3_contractLease {
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-top: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 150px;
vertical-align: bottom;
}
.td4_contractLease {
border-right: #000000 1px solid;
border-top: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 160px;
vertical-align: bottom;
}
.td5_contractLease {
border-right: #000000 1px solid;
border-top: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 136px;
vertical-align: bottom;
}
.td6_contractLease {
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-bottom: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 150px;
vertical-align: bottom;
}
.td7_contractLease {
border-right: #000000 1px solid;
border-bottom: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 160px;
vertical-align: bottom;
}
.td8_contractLease {
border-right: #000000 1px solid;
border-bottom: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 136px;
vertical-align: bottom;
}
.td9_contractLease {
border-left: #000000 1px solid;
border-right: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 150px;
vertical-align: bottom;
}
.td10_contractLease {
border-right: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 160px;
vertical-align: bottom;
}
.td11_contractLease {
border-right: #000000 1px solid;
padding: 0px;
margin: 0px;
width: 136px;
vertical-align: bottom;
}

.tr0_contractLease {
height: 24px;
}
.tr1_contractLease {
height: 22px;
}
.tr2_contractLease {
height: 19px;
}
.tr3_contractLease {
height: 30px;
}
.tr4_contractLease {
height: 20px;
}
.tr5_contractLease {
height: 25px;
}
.tr6_contractLease {
height: 31px;
}
.tr7_contractLease {
height: 12px;
}
.tr8_contractLease {
height: 11px;
}
.tr9_contractLease {
height: 10px;
}
.tr10_contractLease {
height: 15px;
}
.tr11_contractLease {
height: 5px;
}
.tr12_contractLease {
height: 6px;
}

.t0_contractLease {
width: 562px;
margin-left: 13px;
font: 15px "Arial";
}
.t1_contractLease {
width: 562px;
margin-left: 14px;
margin-top: 9px;
font: 15px "Arial";
}
.t2_contractLease {
width: 610px;
margin-top: 22px;
font: 8px "Arial";
}
