* {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Montserrat', sans-serif !important;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
}

label {
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: 700;
    text-transform: none;
}

#root {
    height: 100vh;
}
