.ant-layout {
    background: #f7fbff;
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th,
.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th {
    padding: 8px;
}

.ant-card-head-title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}

.ant-modal-header {
    border-radius: 10px 10px 0 0;
}

.ant-modal-content {
    border-radius: 10px;
}
.ant-card-actions {
    border-radius: 0 0 11px 11px;
}

.ant-drawer-body {
    padding: 0;
    .drawer-content {
        padding: 16px;
        height: calc(100% - 244px);
    }
}

.ant-drawer-close {
    color: rgba(255, 255, 255, 0.45);
    &:focus,
    &:hover {
        color: rgba(255, 255, 255, 0.75);
    }
}

.trigger {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    line-height: 64px;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.uabi-main-content {
    height: calc(100% - 30px);
    .container-fluid:first-child {
        padding: 32px 16px;
    }
}

.uabi-header {
    padding: 0;
    background: #fff 0 0 no-repeat padding-box;
    .bar {
        padding: 0 24px;
    }
    .ant-card-extra {
        padding: 0 !important;
    }
    .ant-menu {
        color: #555;
        .ant-menu-inline.ant-menu-root .ant-menu-item,
        .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
            font-weight: bold;
            color: #555;
        }
    }
}

.uabi-content {
    box-shadow: 0 3px 10px #00000029;
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 11px;
    &.dash-card {
        .ant-card-body {
            padding: 16px 24px 0 24px;
        }
    }
}

.uabi-link {
    color: #1faeef;
    text-decoration: none;
    > span {
        margin-left: 4px;
    }
    &:hover {
        color: #1faeef;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff !important;
}

.form-error {
    @extend .text-danger;
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    height: 22px;
}

.form-control:disabled,
.form-control[readonly],
.form-select:disabled {
    background-color: #f4f4f4;
    opacity: 1;
}

.custom-list-style {
    list-style: none;
    li::before {
        content: attr(data-icon);
        color: #ff8403;
        font-size: 12px;
        font-weight: bold;
        margin-right: 16px;
    }
}

.ant-menu-vertical {
    width: 240px;
}

.ant-select-selection-overflow {
    padding: 1px;
}

.ant-upload-list-item-card-actions {
    display: none;
}

.deck {
    display: block;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: background 300ms;
    &.active {
        z-index: 200;
        background: rgba(205, 218, 229, 0.7);
    }
}

.swal2-popup {
    border-radius: 11px !important;
    box-shadow: 0px 3px 20px #00000029;
    &.warning h2 {
        color: #ff8403;
    }

    &.success h2 {
        color: #29740b;
    }
}

.ant-menu-submenu-selected,
.ant-menu-item-selected {
    background: #ff8403 !important;
    color: white !important;
}

.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    background: #ff8403 !important;
    color: white !important;
}

.ant-tabs.ant-tabs-top {
    & > .ant-tabs-nav {
        padding: 0px 24px 0;
        margin: 0;
        &:before {
            border-color: #ccc;
        }
    }
    & > .ant-tabs-content-holder {
        height: 100%;
        .ant-tabs-content.ant-tabs-content-top {
            height: 100%;
            .container-fluid {
                padding: 16px;
                background: #f7fbff;
                height: 100%;
                overflow: auto;
            }
        }
    }
}
